/*DevActions*/
.devAction:pressed {
    -fx-opacity: 0.7;
}

.devAction:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.devAction.smallheight {
    -fx-pref-height: 32px;
}

.devAction.mediumheight {
    -fx-pref-height: 44px;

}

.devAction.largeheight {
    -fx-pref-height: 52px;
}

.devAction.smallwidth {
    -fx-pref-width: 32px;
}

.devAction.mediumwidth {
    -fx-pref-width: 44px;
}

.devAction.largewidth {
    -fx-pref-width: 52px;
}
