.devInput>.date-picker {
    -fx-background-color: derive(background-color,10%);
    -fx-focus-color: secondary-color;
    -fx-border-width: 1px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.devInput>.date-picker:focused {
    -fx-border-color: derive(secondary-color,-20%);
}
.devInput>.date-picker>.date-picker-display-node {
    -fx-background-color: derive(background-color,10%);
    -fx-font-size: 16px;
    -fx-focus-color: secondary-color;
    -fx-border-width: 1px;
    -fx-text-fill: derive(text-color,-20%);
}

.devInput>.date-picker>.arrow-button {
    -fx-background-color: derive(background-color, 10%);
}

.devInput>.date-picker>.arrow-button>.arrow {
    -fx-shape: "M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z";
    -fx-background-color: secondary-color;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.date-picker .cell {
    -fx-background-color: derive(background-color,10%);
}
.date-picker .cell:hover {
    -fx-background-color: derive(background-color,30%);
    -fx-text-fill: derive(text-color,10%);
}
.date-picker .cell:focused {
	-fx-background-color: text-color;
}

.date-picker .selected {
	-fx-background-color: background-color;
	-fx-text-fill: text-color;
}
.date-picker .selected:focused {
	-fx-background-color: background-color;
	-fx-text-fill:derive(text-color,-5%);
}

.date-picker-popup  {
	-fx-background-color: background-color;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: derive(background-color,10%);
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: derive(text-color,10%);
}

.date-picker-popup > * > .spinner {
    -fx-alignment: CENTER;
    -fx-fill-height: false;
}

.date-picker-popup > * > .spinner > .button {
	-fx-background-color: derive(background-color,10%);
    -fx-color: transparent;
}
.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color: derive(primary-color, 15%) ;
    -fx-color: secondary-color;
}
.date-picker-popup > * > .spinner > .button:hover {
    -fx-color: secondary-color;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: derive(background-color,10%);
    -fx-padding: 0;
}
.date-picker-popup > * > .date-cell { 
    -fx-background-color: transparent;
}

.date-picker-popup > * > .day-name-cell{
    -fx-text-fill: derive(text-color,-10%);
    -fx-background-color: derive(background-color,12%);


}

.date-picker-popup > * > .day-cell {
    -fx-border-color: background-color;
    -fx-background-color: derive(background-color,10%);
    -fx-text-fill: derive(text-color, -50%);
}

.date-picker-popup > * > .day-cell.today {
    -fx-background-color: primary-color, derive(primary-color, -20%), derive(background-color,10%);
    -fx-background-insets: 1, 2, 3;
}

.date-picker-popup > * > .day-cell.previous-month,
.date-picker-popup > * > .day-cell.next-month{
    -fx-background-color:  derive(background-color,5%);
    -fx-text-fill: derive(text-color,-70%)
}
