@import'base.css';

.content > .grid {
    -fx-background-color: background-color;
    -fx-background-radius: 12px;
    -fx-hgap: 10.0;
    -fx-vgap: 10.0;
    -fx-padding: 18.0;
    -fx-padding-left: 18.0;
    -fx-padding-right: 18.0;
    -fx-padding-top: 18.0;
}


.controls {
    -fx-alignment:baseline-right ;	
}

/*Formulario */
.form {
    -fx-background-color: text-color;
    -fx-max-height: 100%;
    -fx-max-width: 100%;
}


/*Inputs*/
.devInput {

}

.error_label {
    -fx-text-fill: warn-color;
}

.title_label {
    -fx-text-fill: text-color;
    -fx-font-weight: bold;
}

/*List*/
.item {
    -fx-background-color:  secondary-color;
    -fx-background-radius: 6px;
}

.dev-add-item {
    -fx-background-color: secondary-color;
}


/*Tools */
.primaryB {
    -fx-background-color: primary-color;
}

.secundaryB {
    -fx-background-color: secondary-color;
}

.titulo {
    -fx-text-fill: secondary-color;
    -fx-text-alignment: center;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 24px;
}

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: derive(background-color,10%);
    -fx-background-radius: 8px;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: primary-color;
    -fx-background-radius: 5em;
}
/* form */
.content.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.content.scroll-pane > .corner {
    -fx-background-color: background-color;
    -fx-background-radius: 12px;
}

.content.scroll-pane {
    -fx-background-color: background-color;
    -fx-background-radius: 12px;
}

.content.scroll-bar:horizontal,
.content.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.content.increment-button,
.content.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.content.scroll-bar:horizontal .track,
.content.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.content.scroll-bar:horizontal .thumb,
.content.scroll-bar:vertical .thumb {
    -fx-background-color: primary-color;
    -fx-background-radius: 5em;
}