@import'base.css';

.root {
    /*paleta de color*/
    primary-ligth: #454545;
    primary: #171717;
    secondary: #e8e8e8;
    secondary-dark : #c5c5c5;
    warn: rgb(143, 26, 26);
    correct: #128312;
    -fx-font-family: "Arial";
}




.content {
    -fx-background-color: primary;
    -fx-background-radius: 12px;
    -fx-hgap: 10.0;
    -fx-vgap: 10.0;
    -fx-padding: 18.0;
    -fx-padding-left: 18.0;
    -fx-padding-right: 18.0;
    -fx-padding-top: 18.0;
}


.controls {
    -fx-alignment:baseline-right ;	
}

/*Formulario */
.form {
    -fx-background-color: secondary;
    -fx-max-height: 100%;
    -fx-max-width: 100%;
}


/*Inputs*/
.devInput {

}

.error_label {
    -fx-text-fill: warn;
}

.title_label {
    -fx-text-fill: secondary;
    -fx-font-weight: bold;
}

/*List*/
.item {
    -fx-background-color: primary;
    -fx-background-radius: 6px;
}

.dev-add-item {
    -fx-background-color: secondary;
}


/*Tools */
.primaryB {
    -fx-background-color: primary;
}

.secundaryB {
    -fx-background-color: secondary;
}

.titulo {
    -fx-text-fill: secondary;
    -fx-text-alignment: center;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 24px;
}

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: secondary;
    -fx-background-radius: 8px;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: primary;
    -fx-background-radius: 5em;
}