/*Sizes*/
.devIcon.small {
    -fx-max-height: 16px;
    -fx-max-width: 16px;
}

.devIcon.medium {
    -fx-max-height: 20px;
    -fx-max-width: 20px;
}

.devIcon.large {
    -fx-max-height: 24px;
    -fx-max-width: 24px;
}

/*Icons*/
