/*DevPassWordField*/
.devInput.devPassWordField>.text-field {
    -fx-font-size: 16px;
    -fx-background-color: derive(primary,10%);
    -fx-focus-color: secondary;
    -fx-border-width: 1px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-text-fill: secondary;
}

.devInput.devPassWordField>.text-field:focused {
    -fx-border-color: secondary-dark;
}

.devInput.devPassWordField:error>.text-field {
    -fx-focus-color: warn;
    -fx-border-color: warn;
}

.devInput.devPassWordField:correct>.text-field {
    -fx-focus-color: correct;
    -fx-border-color: correct;
}

.devIcon.ic_password {
    -fx-max-height: 14px;
    -fx-max-width: 24px;
}

.devIcon.ic_password_off {
    -fx-max-height: 17px;
    -fx-max-width: 24px;
}