/*DevPassWordField*/
.devInput.devPassWordField>.text-field {
    -fx-font-size: 16px;
    -fx-border-width: 1px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-background-color: derive(background-color,10%);
    -fx-focus-color: secondary-color;
    -fx-text-fill: derive(text-color,-20%);
}

.devInput.devPassWordField>.text-field:focused {
    -fx-border-color: derive(secondary-color,-20%);
}

.devInput.devPassWordField:error>.text-field {
    -fx-focus-color: warn-color;
    -fx-border-color: warn-color;
}

.devInput.devPassWordField:correct>.text-field {
    -fx-focus-color: correct-color;
    -fx-border-color: correct-color;
}

.devIcon.ic_password {
    -fx-max-height: 14px;
    -fx-max-width: 24px;
}

.devIcon.ic_password_off {
    -fx-max-height: 17px;
    -fx-max-width: 24px;
}