/*DevPassWordField*/
.devInput>.devPassWordField {
    -fx-font-size: 16px;
    -fx-background-color: primary;
    -fx-focus-color: secondary;
    -fx-border-width: 1px;
    -fx-border-color: secondary;
    -fx-border-radius: 8px;
    -fx-text-fill: secondary;
}

.devInput>.devPassWordField.error {
    -fx-text-fill: warn;
    -fx-focus-color: warn;
    -fx-border-color: warn;
}

.devInput>.devPassWordField.correct {
    -fx-text-fill: correct;
    -fx-focus-color: correct;
    -fx-border-color: correct;
}

.devIcon.ic_password {
    -fx-max-height: 14px;
    -fx-max-width: 24px;
}

.devIcon.ic_password_off {
    -fx-max-height: 17px;
    -fx-max-width: 24px;
}