/*DevSwitchButton*/

.devInput.devSwitchButton>.box>.switchButton:checked > .button{
    -fx-background-color: primary-color;
}
.devInput.devSwitchButton>.box>.switchButton:checked >.rectangle{
    -fx-fill:derive(primary-color,60%);
}
.devInput.devSwitchButton>.box>.switchButton > .button{
    -fx-effect: dropshadow(gaussian, background-color, 0.2, 0, 0, 0); 
    -fx-background-color: derive(secondary-color,10%);

}
.devInput.devSwitchButton>.box>.switchButton > .rectangle{
    -fx-fill:derive(secondary-color,-40%);
}
